.titulo {
  clear: both;
  color: var(--negro);
  font-size: 3rem;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}
.titulo2 {
  clear: both;
  color: var(--lila);
  font-size: 3rem;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: max-content;
  width: 80%;

  gap: 2rem;
  margin: 1rem auto;
}

.parrafo {
  color: black;
  font-size: 1.5rem;
  width: 70%;
  margin: auto;
  text-align: start;
}

@media (max-width: 768px) {
  .contenido,
  .parrafo {
    width: 100%;
  }
}

.imagen {
  width: 40%;
  margin: auto;
}

.boton {
  margin: 0.5rem 1rem;
  text-align: center;
}

.cuadro {
  display: grid;
  margin: 0;
  grid-template-columns: repeat(5, 120px);
  grid-template-rows: repeat(5, 80px);
  grid-auto-flow: column;
}

.cuadro__opcion {
  border: 0.1rem black solid;
  height: 100%;
  display: block;
  margin: auto;
  padding: 2rem 0;
  width: 100%;
  text-align: center;
}

.error {
  margin: 1rem 0;
}

.datos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dato {
  border-top: 0.1rem black solid;
  width: 100;
  margin: 0.2rem;
  font-size: 1.2rem;
}

.card {
  width: 17rem;
}

.centrar {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: max-content;
}

.botones {
  display: flex;
  flex-direction: row;
  margin: 1rem auto;
}

@media (max-width: 768px) {
  .botones {
    flex-direction: column;
  }
}
.alerta {
  width: 25rem;
  margin: auto;
}
