@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.titulo {
  clear: both;
  /* color: rgb(0, 0, 207); */
  color: var(--lila);
  font-size: 3rem;
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.formulario {
  max-width: 50rem;
  text-align: center;
  margin: auto;
  border-radius: 2rem;
  padding: 2rem;
}

.formulario img {
  border-radius: 1rem;
}

.chips {
  margin: 1rem 0;
}

.label {
  color: black;
  font-size: 1.2rem;
  margin: 0.1rem 0;
  text-align: left;
}

.resultado {
  display: inline-block;
  background-color: black;
  color: white;
  font-size: 1.3rem;
  padding: 1rem;
  margin: 1.5rem 1rem;
  width: 80%;
  border-radius: 1.5rem;
}

.boton {
  margin: 1rem 0;
}

.notificacion {
  font-size: 3rem;
}

.negro {
  color: black;
}

.parrafo {
  color: black;
  font-size: 1.5rem;
  text-align: start;
  width: 80%;
  margin: auto;
}
@media (max-width: 1024px) {
  .parrafo {
    width: 100%;
  }
}
