:root {
  --lila: rgb(114, 130, 255);
  --negro: black;
  --azul-marino: #001273;
  --azul-cielo: #a3d3ff;
  --gris: #495057;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
