.card {
  width: 100%;
}

.cuadros {
  margin: auto;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 10px;
  -webkit-line-clamp: 5;
  overflow: hidden;
}
.resumen {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
